#app{
    display: grid;
    grid-template-columns: 32.79% 67.21%;
    overflow: hidden;
    height: 100vh;
}

aside{
    overflow: hidden;
    background-color: blue;

    & .aside-container {
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }

        & .aside-container img{
        width: 100%;
        height: 100%;
        object-fit: contain; 
        display: block;
        border-radius: 0.75rem;
    }
}

main{
    background-color: var(--shape-background);
    overflow-y: auto;
}